---

- name: "Setup reprepro"
  ansible.builtin.include_tasks:
    file: "reprepro.yaml"
    apply:
      tags:
        - reprepro
  tags:
    - always

- name: "Install stuff"
  ansible.builtin.include_tasks:
    file: "install.yaml"
    apply:
      tags:
        - install
  tags:
    - always

- name: "Setup dotfiles"
  ansible.builtin.include_tasks:
    file: "dotfiles.yaml"
    apply:
      tags:
        - dotfiles
  tags:
    - always

- name: "Setup SSH"
  ansible.builtin.include_tasks:
    file: "ssh.yaml"
    apply:
      tags:
        - ssh
        - authorized_keys
  tags:
    - always

- name: "Install syncthing"
  ansible.builtin.include_tasks:
    file: "syncthing.yaml"
    apply:
      tags:
        - syncthing
  tags:
    - always
  # when: "{{ ansible_hostname }} != 'amd2'"
  vars:
    control_node_api_key: "{{ setup_syncthing_api_key }}"
    control_node_ip: "{{ setup_syncthing_control_node_ip }}"
    control_node_port: "{{ setup_syncthing_port }}"
    managed_node_port: "{{ control_node_port }}"
    syncthing_run_user: "{{ ansible_user }}"
    managed_node_api_folders_endpoint: "http://localhost:{{ managed_node_port }}/rest/config/folders"
    control_node_api_devices_endpoint: "http://{{ control_node_ip }}:{{ control_node_port }}/rest/config/devices"
    control_node_api_folders_endpoint: "http://{{ control_node_ip }}:{{ control_node_port }}/rest/config/folders"
    managed_node_api_devices_endpoint: "http://localhost:{{ managed_node_port }}/rest/config/devices"
    control_node_device_id: "{{ setup_syncthing_device_id }}"

- name: "Setup beszel"
  ansible.builtin.include_tasks:
    file: "beszel.yaml"
    apply:
      tags:
        - beszel
  tags:
    - always



- name: "Setup bash"
  ansible.builtin.include_tasks:
    file: "bash.yaml"
    apply:
      tags:
        - bash
  tags:
    - always

- name: "Setup ChromeOS scripts"
  ansible.builtin.include_tasks:
    file: "chromeos.yaml"
    apply:
      tags:
        - chromeos
  tags:
    - always

- name: "Setup micro"
  ansible.builtin.include_tasks:
    file: "micro.yaml"
    apply:
      tags:
        - micro
  tags:
    - always

- name: "Setup tmux"
  ansible.builtin.include_tasks:
    file: "tmux.yaml"
    apply:
      become: false
      tags:
        - tmux
  tags:
    - always



- name: "Run Misc"
  ansible.builtin.include_tasks:
    file: "misc.yaml"
    apply:
      tags:
        - misc
        - test
  tags:
    - always

- name: "Setup autofs"
  ansible.builtin.include_tasks:
    file: "autofs.yaml"
    apply:
      tags:
        - autofs
        - test
  tags:
    - always
