---
- name: Remove homelab-pull
  hosts:
    - rpis
    - proxmox_all_lxc:!mealie:!ntfy
  become: true
  tasks:
    - name: Stop homelab-pull timer
      ansible.builtin.systemd_service:
        name: homelab-pull.timer
        state: stopped
      ignore_errors: true

    - name: Disable homelab-pull timer
      ansible.builtin.systemd_service:
        name: homelab-pull.timer
        enabled: false
      ignore_errors: true

    - name: Remove homelab-pull service and timer files
      ansible.builtin.file:
        path: "/etc/systemd/system/{{ item }}"
        state: absent
      loop:
        - homelab-pull.service
        - homelab-pull.timer

    - name: Reload systemd
      ansible.builtin.systemd_service:
        daemon_reload: true

    - name: Remove homelab-pull directory
      ansible.builtin.file:
        path: "~/.ansible/pull/homelab-pull"
        state: absent
      become: false
