---
- name: Update all containers
  hosts:
    - rpis
    - proxmox_all_lxc:!mealie:!ntfy
  become: true

  roles:
    - update_apt
    - role: update_git
      become: false

- name: Update omv
  ansible.builtin.import_playbook: update_omv.yaml
